@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');


/*GENERAL RULES*/



*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow: auto;
}

/*BODY RULES*/



body{
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    background-color: #fdfdfd;
    
}



/*CONTAINER RULES*/



.container{
    display: flex;
    flex-direction: column;
    background-color:#fdfdfd ;
    width: 90%;
    height: 100vh;
    margin: 0px auto;
}


/*HEADER RULES*/



header{
    /*display: flex;*/
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 1fr;
    background-color: #fdfdfd;
    /*background-color: coral;*/
    width: 100%;
    height: 170px;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px 30px 10px;
    position: relative;
}



@media screen and (max-width:700px){
    header{

    }
}



.bar{
    position: absolute;
    top: 90%;
    width: 100%;
    height: 3px;
    background-color:#F2F2F2;
}

.bar-position{
    position: absolute;
    top: 90%;
    width: 50%;
    height: 3px;
    background-color:#0065FC;
    z-index: 100;
}




@media screen and (min-width:700px) {
    header{
       /* background-color: sandybrown;*/
        display: flex;
        padding: 0px 0px 30px 0px;
        justify-content: flex-end;
    }

    header .bar{
        background-color:#fdfdfd ;
        top: 15px;
        right: 59px;
        width: 120px;
        height: 2px;
    }

    header .bar-position{
        top: 15px;
        right: 105px;
        width: 75px;
        height: 2px;
    }

    header .activités:hover~.bar-position{
        top: 15px;
        right: 105px;
        width: 50px;
    }
}





/*IMAGES RULES*/




header img{
    width: 82px;
}


@media screen and (min-width:700px){
    header img{
        width: 44px;
        margin-right: auto;
        transform: translateY(50%);
    }
}


/*SUSCRIPTION RULES*/



header .inscription{
    text-decoration: none;
    color: #0065FC;
    font-size: 14px;
    /*background-color: darkgreen;*/
    justify-self: end;
}



@media  screen and (min-width:700px) {
    header .inscription{
        /*background-color: indigo;*/
        margin-right: 15px;
       
    }
}



@media  screen and (max-width:700px) {
    header .inscription{ 
    }
}



/*HOSTING RULES*/



header .hébergements{
    text-decoration: none;
    color: #0065FC;
    /*background-color: crimson;*/
    font-size: 14px;
    position: relative;
    overflow: hidden;
    text-align: center;
    
}




@media  screen and (min-width:700px) {
    header .hébergements{
       /*background-color: rgb(26, 36, 26); */
       margin-right: 20px;
    }
}





/*ACTIVITIES RULES*/



header .activités{
    text-decoration: none;
    color: black;
    font-size: 14px;
    /*background-color: darkgreen;*/
    text-align: center;
}


header .activités:hover~.bar-position{
        transform: translateX(100%);  
}



@media  screen and (min-width:700px) {
    header .activités{
        margin-right: 20px;
    }
}




/* SUSCRIPTION, HOSTING AND ACTIVITIES RULES*/




@media screen and (min-width:700px) {
    header .activités, header .hébergements, header .inscription{
    /*background-color: lawngreen;*/
    padding: 0px;
    font-size: 7px;
    }
}



/*ORDERING THE ELEMENTS*/

@media screen and (max-width:700px){
    header .hébergements{
        order: 3;
    }

    header .activités{
        order: 4;
    }
}


/*LOCATION PART*/



.localisation{
    width: 100%;
    height: 163px;
    background-color: blueviolet;
    
}


.localisation h1{
    font-size: 20px;
    margin: 15px auto 0px 5px;
}


.localisation p{
    font-size: 14px;
    margin: 15px auto 30px 5px;
}



.localisation .box{
    display: flex;
    width: 100%;
    height: 35px;
    /*background-color: gold;*/
    border-radius: 15px;
    position: relative;
}

.localisation .box i{
    width:50px;
    height: 35px;
    color: rgb(10, 10, 10);
    background-color:#DEEBFF ;
    display: flex;
    justify-content: center;
    align-items: center; 
}



.localisation .box input{
    position: relative;
    width: 100%;
    height: 35px;
    background-color: #F2F2F2;
    font-size: 15px;
    
}


.box .search {
    position: absolute;
    height: 35px;
    top: 0px;
    right: 0px;
    border-radius: 8px;
    background-color:#0065FC;
    overflow: hidden;
    
}



/*FILTRES PART*/



.filtres{
    /*background-color: hotpink;*/
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    height: 150px;
}



.filtres i{
    background-color: lightblue;
    border-radius: 25px;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}





.eco, .fam, .rom, .pets~button{
   
    background-color: #801010;
    display: flex;
    align-items: center;
    
    overflow: hidden;
    border: 2px solid #DEEBFF;
    width: 205px;
    height: 45px;
    border-radius: 25px;
}





