@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');


/*general rules*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow: auto;
}

/*body rules*/

body{
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    background-color: #fdfdfd;
    
}



/*container rules*/

.container{
    display: flex;
    background-color:#fdfdfd ;
    width: 90%;
    height: 100vh;
    margin: 0px auto;
}


/*header rules*/

header{
    /*display: flex;*/
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 1fr;
    background-color: #fdfdfd;
    /*background-color: coral;*/
    width: 100%;
    height: 170px;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px 30px 10px;
    position: relative;
}



@media screen and (max-width:700px){
    header{

    }
}



.bar{
    position: absolute;
    top: 90%;
    width: 100%;
    height: 10px;
    background-color:#F2F2F2;
}

.bar-position{
    position: absolute;
    top: 90%;
    width: 50%;
    height: 10px;
    background-color:#0065FC;
    z-index: 100;
}




@media screen and (min-width:700px) {
    header{
       /* background-color: sandybrown;*/
        display: flex;
        padding: 0px 0px 30px 0px;
        justify-content: flex-end;
    }

    header .bar{
        background-color:#fdfdfd ;
        top: 15px;
        right: 59px;
        width: 120px;
        height: 2px;
    }

    header .bar-position{
        top: 15px;
        right: 105px;
        width: 75px;
        height: 2px;
    }

    header .activités:hover~.bar-position{
        top: 15px;
        right: 105px;
        width: 50px;
    }
}





/*images rules*/

header img{
    width: 82px;
}


@media screen and (min-width:700px){
    header img{
        width: 44px;
        margin-right: auto;
        transform: translateY(50%);
    }
}


/*suscription rules*/

header .inscription{
    text-decoration: none;
    color: #0065FC;
    font-size: 14px;
    /*background-color: darkgreen;*/
    justify-self: end;
}



@media  screen and (min-width:700px) {
    header .inscription{
        /*background-color: indigo;*/
        margin-right: 15px;
       
    }
}



@media  screen and (max-width:700px) {
    header .inscription{ 
    }
}



/*hosting rules*/

header .hébergements{
    text-decoration: none;
    color: #0065FC;
    /*background-color: crimson;*/
    font-size: 14px;
    position: relative;
    overflow: hidden;
    text-align: center;
    
}




@media  screen and (min-width:700px) {
    header .hébergements{
       /*background-color: rgb(26, 36, 26); */
       margin-right: 20px;
    }
}





/*activities rules*/

header .activités{
    text-decoration: none;
    color: black;
    font-size: 14px;
    /*background-color: darkgreen;*/
    text-align: center;
}


header .activités:hover~.bar-position{
        transform: translateX(100%);  
}



@media  screen and (min-width:700px) {
    header .activités{
        margin-right: 20px;
    }
}




/* suscription, hosting and activities rules*/

@media screen and (min-width:700px) {
    header .activités, header .hébergements, header .inscription{
    /*background-color: lawngreen;*/
    padding: 0px;
    font-size: 7px;
    }
}



/*ordering the elements*/

@media screen and (max-width:700px){
    header .hébergements{
        order: 3;
    }

    header .activités{
        order: 4;
    }
}